<!DOCTYPE html>
<html>
<head>
    <title>Halaman Berita</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

    <h1>Ini adalah halaman berita</h1>
    <div class="berita">
        <h2>Peresmian Gedung Baru</h2>
        <p>Pada hari ini, gedung baru perusahaan kami resmi diresmikan oleh CEO kami. Gedung ini dilengkapi dengan fasilitas modern dan teknologi terkini yang diharapkan dapat meningkatkan produktivitas dan kenyamanan bagi seluruh karyawan.</p>
    </div>
    <div class="berita">
        <h2>Peluncuran Produk Baru</h2>
        <p>Kami dengan bangga mengumumkan peluncuran produk terbaru kami, yaitu smartphone generasi terbaru yang dilengkapi dengan teknologi canggih dan fitur inovatif. Produk ini dirancang untuk memberikan pengalaman pengguna yang lebih baik dan memenuhi kebutuhan teknologi saat ini.</p>
    </div>
</body>
</html>
