<!DOCTYPE html>
<html>
<head>
    <title>Tentang Saya</title>
    <link rel="icon" href="/img/cuaca.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

    <section class="resume">
        <div class="resume_left">
            <div class="r_profile_pic">
              <img src="img/fikry.png" alt="profile_pic">
            </div>
            <div class="r_left_sub">
              <div class="r_aboutme">
                <h2>Tentang Saya</h2>
                <p></p>
              </div>
              <div class="r_skills">
                <h2>Skills</h2>
                <ul>
                  <li>
                    <p><i class="fa-solid fa-code"></i></p>
                    <p>Web Development</p>
                  </li>
                  <li>
                    <p><i class="fa-solid fa-pen-nib"></i></p>
                    <p>Web Designing</p>
                  </li>
                  <li>
                    <p><i class="fa-solid fa-video"></i></p>
                    <p>Video Editing</p>
                  </li>
                </ul>
              </div>
              <div class="r_hobbies">
                <h2>Hobbies</h2>
                <ul>
                  <li>
                    <p><i class="fa-solid fa-football"></i></p>
                    <p>football</p>
                  </li>
                  <li>
                    <p><i class="fa-solid fa-plant-wilt"></i></p>
                    <p>Tenis Meja</p>
                  </li>
                  <li>
                    <p><i class="fa-solid fa-bicycle"></i></p>
                    <p>Badminton</p>
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="resume_right">
            <div class="r_namerole">
              <p>M.FIKRY</p>
              <p class="role">Web Developer</p>
            </div>
            <div class="r_info">
              <ul>
                <li>
                  <p>muhammadfikri0987654@gmail.com</p>
                  <p>+6285210644501</p>
                </li>
              </ul>
            </div>
            <div class="r_right_sub">
              <div class="r_education">
                <h2>Pengalaman Oraganisasi</h2>
                <ul>
                  <li>
                    <div class="r_ed_left">
                      <p>2019-2020</p>
                    </div>
                    <div class="r_ed_right">
                      <p>OSIS</p>
                      <p>Pada Sewaktu di SMK saya mengikuti Oraganisasi dan disitu saya menjabat sebagai Wakil Osis</p>
                    </div>
                  </li>
                  <li>
                    <div class="r_ed_left">
                      <p>2021-2022</p>
                    </div>
                    <div class="r_ed_right">
                      <p>BIRO</p>
                      <p>DI BIRO Saya menjabat sebagai Wakil biro</p>
                    </div>
                  </li>
                  <li>
                    <div class="r_ed_left">
                      <p>2022-2023</p>
                    </div>
                    <div class="r_ed_right">
                      <p>HIMA</p>
                      <p>DI HIMA saya masuk di bidang psdm</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="r_jobs">
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </section>
    {{>footer}}
    </body>
</html>
